In [1]:
import pandas as pd
df = pd.read_csv('employee_data.csv')

In [2]:
df.head()

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,quit,promotion_last_5years,department,salary
0,0.38,0.53,2,157,3,0,1,0,sales,low
1,0.80,0.86,5,262,6,0,1,0,sales,medium
2,0.11,0.88,7,272,4,0,1,0,sales,medium
3,0.72,0.87,5,223,5,0,1,0,sales,low
4,0.37,0.52,2,159,3,0,1,0,sales,low

In [3]:
#Encoding
df = pd.get_dummies(df)

In [4]:
X = df.drop(['quit'],axis=1)
y = df['quit']

In [9]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.3,random_state=42)

In [10]:
from sklearn.neighbors import KNeighborsClassifier
model_knn = KNeighborsClassifier()

In [11]:
model_knn.fit(X_train,y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=5, p=2,
                     weights='uniform')

In [12]:
y_pred_train = model_knn.predict(X_train)
y_pred_test = model_knn.predict(X_test)

In [13]:
#Accuray,Recall, Precision and F1-Score using in-built functions
from sklearn.metrics import accuracy_score,recall_score,precision_score,f1_score
accuracy_test = accuracy_score(y_test,y_pred_test)
recall_test = recall_score(y_test,y_pred_test)
precision_test = precision_score(y_test,y_pred_test)
f1score_test = f1_score(y_test,y_pred_test)
print('accuracy : ',accuracy_test)
print('recall : ', recall_test)
print('precision : ', precision_test)
print('f1score : ', f1score_test)

accuracy :  0.9333333333333333
recall :  0.9151119402985075
precision :  0.8243697478991596
f1score :  0.8673740053050398