In [1]:
import pandas as pd
df = pd.read_csv('advertising.csv')
df.head()

,Daily Time Spent on Site,Age,Area Income,Daily Internet Usage,Ad Topic Line,City,Male,Country,Timestamp,Clicked on Ad
0,68.95,35,61833.90,256.09,Cloned 5thgeneration orchestration,Wrightburgh,0,Tunisia,27-03-2016 00:53,0
1,80.23,31,68441.85,193.77,Monitored national standardization,West Jodi,1,Nauru,04-04-2016 01:39,0
2,69.47,26,59785.94,236.50,Organic bottom-line service-desk,Davidton,0,San Marino,13-03-2016 20:35,0
3,74.15,29,54806.18,245.89,Triple-buffered reciprocal time-frame,West Terrifurt,1,Italy,10-01-2016 02:31,0
4,68.37,35,73889.99,225.58,Robust logistical utilization,South Manuel,0,Iceland,03-06-2016 03:36,0

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 10 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Daily Time Spent on Site  1000 non-null   float64
 1   Age                       1000 non-null   int64
 2   Area Income               1000 non-null   float64
 3   Daily Internet Usage      1000 non-null   float64
 4   Ad Topic Line             1000 non-null   object
 5   City                      1000 non-null   object
 6   Male                      1000 non-null   int64
 7   Country                   1000 non-null   object
 8   Timestamp                 1000 non-null   object
 9   Clicked on Ad             1000 non-null   int64
dtypes: float64(3), int64(3), object(4)
memory usage: 78.2+ KB

In [3]:
#Predict whether a given person will click on the ad or not

In [4]:
df.isna().sum()

Daily Time Spent on Site    0
Age                         0
Area Income                 0
Daily Internet Usage        0
Ad Topic Line               0
City                        0
Male                        0
Country                     0
Timestamp                   0
Clicked on Ad               0
dtype: int64

In [5]:
df.describe()

,Daily Time Spent on Site,Age,Area Income,Daily Internet Usage,Male,Clicked on Ad
count,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.00000
mean,65.000200,36.009000,55000.000080,180.000100,0.481000,0.50000
std,15.853615,8.785562,13414.634022,43.902339,0.499889,0.50025
min,32.600000,19.000000,13996.500000,104.780000,0.000000,0.00000
25%,51.360000,29.000000,47031.802500,138.830000,0.000000,0.00000
50%,68.215000,35.000000,57012.300000,183.130000,0.000000,0.50000
75%,78.547500,42.000000,65470.635000,218.792500,1.000000,1.00000
max,91.430000,61.000000,79484.800000,269.960000,1.000000,1.00000

In [6]:
df['Clicked on Ad'].value_counts()

1    500
0    500
Name: Clicked on Ad, dtype: int64

In [7]:
df['Male'].value_counts()

0    519
1    481
Name: Male, dtype: int64

In [8]:
df.iloc[:,7].value_counts()

France                   9
Czech Republic           9
Micronesia               8
South Africa             8
Australia                8
                        ..
Aruba                    1
Saint Kitts and Nevis    1
Bermuda                  1
Cape Verde               1
Slovenia                 1
Name: Country, Length: 237, dtype: int64

In [9]:
df = df.drop([df.columns[4],df.columns[5],df.columns[7],df.columns[8]], axis=1)

In [10]:
df.head()

,Daily Time Spent on Site,Age,Area Income,Daily Internet Usage,Male,Clicked on Ad
0,68.95,35,61833.90,256.09,0,0
1,80.23,31,68441.85,193.77,1,0
2,69.47,26,59785.94,236.50,0,0
3,74.15,29,54806.18,245.89,1,0
4,68.37,35,73889.99,225.58,0,0

In [11]:
#Histogram
import matplotlib.pyplot as plt 
import plotly.express as px

fig = px.histogram(df, x = 'Age')
fig.show()

ModuleNotFoundError: No module named 'plotly'

In [ ]:
#BarPlot
fig = px.bar(df, x= 'Age', y = 'Clicked on Ad')
fig.show()

In [12]:
fig = px.scatter(x= df['Daily Time Spent on Site'], y= df.Age, labels={'x':'Daily Time Spent on Site', 'y':'Age'})
fig.show()

NameError: name 'px' is not defined

In [13]:
X = df.drop(['Clicked on Ad'], axis=1)
y = df['Clicked on Ad']
X.head()

   Daily Time Spent on Site  Age  Area Income  Daily Internet Usage  Male
0                     68.95   35     61833.90                256.09     0
1                     80.23   31     68441.85                193.77     1
2                     69.47   26     59785.94                236.50     0
3                     74.15   29     54806.18                245.89     1
4                     68.37   35     73889.99                225.58     0

In [14]:
y.head()

0    0
1    0
2    0
3    0
4    0
Name: Clicked on Ad, dtype: int64

In [15]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.3,random_state = 42)

521    1
737    1
740    1
660    1
411    0
      ..
468    1
935    0
428    1
7      1
155    0
Name: Clicked on Ad, Length: 300, dtype: int64

In [17]:
from sklearn.linear_model import LogisticRegression
lr = LogisticRegression(max_iter = 1000)
lr.fit(X_train,y_train)
y_pred_train = lr.predict(X_train)
y_pred_test = lr.predict(X_test)
y_pred_test

array([0, 1, 1, 1, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, 1, 0, 1,
       1, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 1, 1, 0, 0, 0, 1, 1, 0, 1, 0, 1,
       0, 0, 1, 1, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 1, 1,
       1, 0, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 1, 1, 1, 0, 1, 0,
       1, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 1, 0, 0, 1, 1, 1,
       1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0,
       1, 0, 1, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 1,
       1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 0, 0, 1, 1, 1, 1,
       0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 1,
       0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 1, 1, 1, 0, 0, 1, 1, 0,
       1, 0, 1, 0, 0, 1, 1, 1, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0,
       0, 0, 1, 1, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0], dtype=int64)

In [31]:
#We can find the probabilty by using predict_proba
#Threshold will be applied on 0 and 1 columns

In [18]:
#Accuracy
from sklearn.metrics import accuracy_score,confusion_matrix
accuracy_train = accuracy_score(y_train,y_pred_train)
accuracy_train

0.9

In [19]:
tn,fp,fn,tp = confusion_matrix(y_train,y_pred_train).ravel()
print('TN : ',tn)
print('FP : ',fp)
print('FN : ',fn)
print('TP : ',tp)

TN :  327
FP :  27
FN :  43
TP :  303

In [20]:
accuracy_train_cm = (tp+tn)/(tp+tn+fp+fn)
accuracy_train_cm

0.9

In [21]:
from sklearn.metrics import accuracy_score,confusion_matrix
accuracy_test = accuracy_score(y_test,y_pred_test)
accuracy_test

0.8966666666666666

In [22]:
tn,fp,fn,tp = confusion_matrix(y_test,y_pred_test).ravel()
print('TN : ',tn)
print('FP : ',fp)
print('FN : ',fn)
print('TP : ',tp)

TN :  140
FP :  6
FN :  25
TP :  129

In [23]:
accuracy_test_cm = (tp+tn)/(tp+tn+fp+fn)
accuracy_test_cm

0.8966666666666666

In [47]:
confusion_matrix(y_test,y_pred_test)

array([[140,   6],
       [ 25, 129]], dtype=int64)

In [24]:
#Recall, Precision and F1-Score using in-built functions
from sklearn.metrics import recall_score,precision_score,f1_score
recall_test = recall_score(y_test,y_pred_test)
precision_test = precision_score(y_test,y_pred_test)
f1score_test = f1_score(y_test,y_pred_test)
print('recall : ', recall_test)
print('precision : ', precision_test)
print('f1score : ', f1score_test)

recall :  0.8376623376623377
precision :  0.9555555555555556
f1score :  0.8927335640138409