In [1]:
#Predict whether the employee will quit or not
import pandas as pd
df = pd.read_csv('employee_data.csv')
df.head()

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,quit,promotion_last_5years,department,salary
0,0.38,0.53,2,157,3,0,1,0,sales,low
1,0.80,0.86,5,262,6,0,1,0,sales,medium
2,0.11,0.88,7,272,4,0,1,0,sales,medium
3,0.72,0.87,5,223,5,0,1,0,sales,low
4,0.37,0.52,2,159,3,0,1,0,sales,low

In [2]:
df.describe()

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,quit,promotion_last_5years
count,14999.000000,14999.000000,14999.000000,14999.000000,14999.000000,14999.000000,14999.000000,14999.000000
mean,0.612834,0.716102,3.803054,201.050337,3.498233,0.144610,0.238083,0.021268
std,0.248631,0.171169,1.232592,49.943099,1.460136,0.351719,0.425924,0.144281
min,0.090000,0.360000,2.000000,96.000000,2.000000,0.000000,0.000000,0.000000
25%,0.440000,0.560000,3.000000,156.000000,3.000000,0.000000,0.000000,0.000000
50%,0.640000,0.720000,4.000000,200.000000,3.000000,0.000000,0.000000,0.000000
75%,0.820000,0.870000,5.000000,245.000000,4.000000,0.000000,0.000000,0.000000
max,1.000000,1.000000,7.000000,310.000000,10.000000,1.000000,1.000000,1.000000

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14999 entries, 0 to 14998
Data columns (total 10 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   satisfaction_level     14999 non-null  float64
 1   last_evaluation        14999 non-null  float64
 2   number_project         14999 non-null  int64
 3   average_montly_hours   14999 non-null  int64
 4   time_spend_company     14999 non-null  int64
 5   Work_accident          14999 non-null  int64
 6   quit                   14999 non-null  int64
 7   promotion_last_5years  14999 non-null  int64
 8   department             14999 non-null  object
 9   salary                 14999 non-null  object
dtypes: float64(2), int64(6), object(2)
memory usage: 1.1+ MB

In [4]:
#Encoding
df = pd.get_dummies(df)

In [6]:
X = df.drop(['quit'],axis = 1)
y = df['quit']
y.head()

0    1
1    1
2    1
3    1
4    1
Name: quit, dtype: int64

In [7]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.3,random_state=42)

In [8]:
X_test.shape

(4500, 20)

In [9]:
from sklearn.linear_model import LogisticRegression
lr = LogisticRegression(max_iter=1000)
lr.fit(X_train,y_train)
y_pred_train = lr.predict(X_train)
y_pred_test = lr.predict(X_test)
y_pred_test

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)

In [10]:
from sklearn.metrics import accuracy_score,confusion_matrix
accuracy_train = accuracy_score(y_train,y_pred_train)
accuracy_train

0.7935041432517382

In [11]:
tn,fp,fn,tp = confusion_matrix(y_train,y_pred_train).ravel()
print('TN : ',tn)
print('FP : ',fp)
print('FN : ',fn)
print('TP : ',tp)

TN :  7426
FP :  574
FN :  1594
TP :  905

In [12]:
accuracy_train_cm = (tp+tn)/(tp+tn+fp+fn)
accuracy_train_cm

0.7935041432517382

In [13]:
from sklearn.metrics import accuracy_score,confusion_matrix
accuracy_test = accuracy_score(y_test,y_pred_test)
accuracy_test

0.7873333333333333

In [14]:
tn,fp,fn,tp = confusion_matrix(y_test,y_pred_test).ravel()
print('TN : ',tn)
print('FP : ',fp)
print('FN : ',fn)
print('TP : ',tp)

TN :  3171
FP :  257
FN :  700
TP :  372

In [15]:
accuracy_test_cm = (tp+tn)/(tp+tn+fp+fn)
accuracy_test_cm

0.7873333333333333

In [16]:
confusion_matrix(y_test,y_pred_test)

array([[3171,  257],
       [ 700,  372]], dtype=int64)

In [18]:
#Recall, Precision and F1-Score using in-built functions
from sklearn.metrics import recall_score,precision_score,f1_score
recall_test = recall_score(y_test,y_pred_test)
precision_test = precision_score(y_test,y_pred_test)
f1score_test = f1_score(y_test,y_pred_test)
print('recall : ', recall_test)
print('precision : ', precision_test)
print('f1score : ', f1score_test)

recall :  0.34701492537313433
precision :  0.5914149443561209
f1score :  0.43738977072310403