In [1]:
import pandas as pd
df = pd.read_csv('Admission_Predict.csv')
df.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,324,107,4,4.0,4.5,8.87,1,0.76
2,3,316,104,3,3.0,3.5,8.00,1,0.72
3,4,322,110,3,3.5,2.5,8.67,1,0.80
4,5,314,103,2,2.0,3.0,8.21,0,0.65

In [2]:
#Checking for Null Values
df.isna().sum()

Serial No.           0
GRE Score            0
TOEFL Score          0
University Rating    0
SOP                  0
LOR                  0
CGPA                 0
Research             0
Chance of Admit      0
dtype: int64

In [3]:
#Descriptive Statistics
df.describe()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
count,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000
mean,200.500000,316.807500,107.410000,3.087500,3.400000,3.452500,8.598925,0.547500,0.724350
std,115.614301,11.473646,6.069514,1.143728,1.006869,0.898478,0.596317,0.498362,0.142609
min,1.000000,290.000000,92.000000,1.000000,1.000000,1.000000,6.800000,0.000000,0.340000
25%,100.750000,308.000000,103.000000,2.000000,2.500000,3.000000,8.170000,0.000000,0.640000
50%,200.500000,317.000000,107.000000,3.000000,3.500000,3.500000,8.610000,1.000000,0.730000
75%,300.250000,325.000000,112.000000,4.000000,4.000000,4.000000,9.062500,1.000000,0.830000
max,400.000000,340.000000,120.000000,5.000000,5.000000,5.000000,9.920000,1.000000,0.970000

In [4]:
#Business goal - Chance of admit probability prediction

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Serial No.         400 non-null    int64
 1   GRE Score          400 non-null    int64
 2   TOEFL Score        400 non-null    int64
 3   University Rating  400 non-null    int64
 4   SOP                400 non-null    float64
 5   LOR                400 non-null    float64
 6   CGPA               400 non-null    float64
 7   Research           400 non-null    int64
 8   Chance of Admit    400 non-null    float64
dtypes: float64(4), int64(5)
memory usage: 28.2 KB

In [6]:
df['Research'].value_counts()

1    219
0    181
Name: Research, dtype: int64

In [7]:
df['University Rating'].value_counts()

3    133
2    107
4     74
5     60
1     26
Name: University Rating, dtype: int64

In [9]:
y = df['Chance of Admit ']
X = df.drop(['Serial No.','Chance of Admit '], axis=1)

In [11]:
#Splitting data into train and test
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size = 0.25,random_state=42)

In [13]:
print(X_train.shape)
print(X_test.shape)

(300, 7)
(100, 7)

In [15]:
from sklearn.linear_model import LinearRegression
#Call the model
lm = LinearRegression()
#Fit the model
lm.fit(X_train,y_train)
#Predict from the model
y_pred_train = lm.predict(X_train)
y_pred_test = lm.predict(X_test)
print(y_pred_train)
print(y_pred_test)

[0.6744615  0.68149206 0.71833893 0.79458076 0.74755077 0.60208704
 0.65251418 0.64983124 0.65112424 0.61675381 0.71334347 0.62582139
 0.55882403 0.5885123  0.83290245 0.6079263  0.45121444 0.88446036
 0.77326583 0.81968373 0.62912639 0.70038716 0.66192818 0.44560267
 0.9566507  0.79074998 0.78246654 0.65534331 0.64547058 0.80464469
 0.84128524 0.74274727 0.78832563 0.77740749 0.78496844 0.72864948
 0.80569574 0.68440962 0.80621702 0.82614621 0.65608942 0.77152642
 0.5525432  0.7123127  0.62669381 0.93997062 0.62970537 0.77297709
 0.79419157 0.63986228 0.71273739 0.7364399  0.78839086 0.89894734
 0.73508137 0.82449763 0.69473549 0.95314997 0.54446366 0.72132536
 0.54213043 0.62422949 0.89274303 0.57022539 0.60099624 0.76436434
 0.48634712 0.69624867 0.82482536 0.73953636 0.5726882  0.85946317
 0.6562695  0.59053082 0.98455883 0.56709236 0.85201884 0.6646317
 0.82294506 0.95792047 0.54799495 0.80289563 0.65804281 0.57080716
 0.7341684  0.69113248 0.65484369 0.67535271 0.56231584 0.70209581
 0.67983018 0.6741309  0.82195601 0.68790689 0.73268529 0.70236407
 0.93283058 0.52875325 0.74596661 0.71047408 0.74840946 0.98746816
 0.78180522 0.84292238 0.74560642 0.92120604 0.51531912 0.83523437
 0.8503923  0.85391577 0.78150521 0.67493618 0.63408387 0.53910958
 0.71044382 0.51005591 0.51576253 0.69171498 0.9599703  0.85275455
 0.90852124 0.83274378 0.94061402 0.6848458  0.7682571  0.73312286
 0.64595208 0.83380459 0.6573619  0.67174524 0.79132636 0.88004496
 0.8829567  0.76396532 0.94616827 0.61001939 0.61328617 0.78432066
 0.52519928 0.70082784 0.6631941  0.74313974 0.76338357 0.67338456
 0.49911927 0.88279171 0.73541512 0.92681284 0.79050559 0.70850256
 0.78810467 0.70633681 0.68016624 0.56703995 0.88188873 0.51901834
 0.78669983 0.71947622 0.78429442 0.737756   0.53905694 0.85152959
 0.85464836 0.43538404 0.63974027 0.89400407 0.76049919 0.4808855
 0.72482111 0.56936175 0.62023223 0.53162367 0.87262212 0.6546811
 0.63825107 0.66167451 0.74949048 0.59354737 0.83152801 0.63488122
 0.63856576 0.67894775 0.564004   0.73080004 0.68719371 0.78169658
 0.96499987 0.87981299 0.89661014 0.90247878 0.62388693 0.93761876
 0.92257735 0.68142148 0.70948347 0.78991015 0.52480974 0.7917136
 0.71981322 0.8309638  0.77755258 0.70278856 0.62628247 0.82325784
 0.64587116 0.76878823 0.81818535 0.55866854 0.75342131 0.60576526
 0.64640876 0.65822292 0.65115524 0.72035418 0.6061496  0.85798415
 0.69127665 0.51984468 0.85345095 0.65005339 0.96730876 0.66943079
 0.75607907 0.72100728 0.63106521 0.84572389 0.74303748 0.69956668
 0.71248099 0.50412561 0.84450306 0.8241099  0.84475314 0.70232289
 0.9059621  0.78017546 0.69790599 0.80274404 0.75839083 0.645846
 0.52538042 0.95010954 0.751375   0.543421   0.77557437 0.72632583
 0.51801525 0.75835113 0.62214415 0.64656214 0.61385329 0.65992304
 0.59249947 0.66313809 0.79001287 0.7106941  0.88199018 0.8146369
 0.62101634 0.78154955 0.81519976 0.66492725 0.68352535 0.81177234
 0.85489946 0.90768586 0.91115136 0.59505186 0.44022351 0.80583248
 0.46473674 0.85672889 0.70569827 0.70915303 0.59038033 0.5794721
 0.90192997 0.83500419 0.63455491 0.61970477 0.75912742 0.69154993
 0.67002579 0.95950652 0.90539817 0.66649873 0.80639105 0.93950528
 0.66525621 0.7731212  0.91685801 0.93258293 0.93251406 0.62275632
 0.88525307 0.95629735 0.86004852 0.65182621 0.47267061 0.66122041]
[0.64916133 0.72319246 0.93534894 0.82161719 0.58010543 0.92955335
 0.52394479 0.53929604 0.65966993 0.84041175 0.72162358 0.90930156
 0.55264646 0.88798786 0.69818853 0.68758551 0.66698292 0.47966361
 0.69109839 0.97571167 0.58657737 0.65268473 0.71038978 0.53186705
 0.94999142 0.81035189 0.69371319 0.56258221 0.68188877 0.81250393
 0.8094908  0.94735252 0.64584322 0.51077365 0.6613749  0.66643326
 0.7201965  0.64437189 0.61530134 0.88096998 0.7424471  0.59837856
 0.77667814 0.96120512 0.84893303 0.83567587 0.94889935 0.6483672
 0.92235292 0.8591684  0.89511656 0.73010103 0.78591454 0.95214742
 0.5747998  0.59049161 0.68795469 0.84501809 0.60309281 0.84659426
 0.6611105  0.65563603 0.69848047 0.50959855 0.63049972 0.71931506
 0.62133271 0.84328362 0.85774204 0.79722496 0.72270856 0.8193762
 0.87298172 0.83133146 0.5219382  0.72120326 0.69237344 0.59437316
 0.88114795 0.75821486 0.74745069 0.74047715 0.99642994 0.71419782
 0.58926135 0.70860091 0.79816187 0.72606258 0.91475014 0.66178335
 0.60211169 0.84371174 0.49367596 0.72026666 0.61369086 0.63387495
 0.73539525 0.77320226 0.54194241 0.77864011]

In [11]:
#Such type of Machine learning models can be deployed in a Chatbot to give admission predictions and CIBIL Score prediction

In [16]:
#Model Evaluation for Train dataset
import numpy as np
from sklearn.metrics import mean_squared_error,r2_score
mse_train = mean_squared_error(y_train,y_pred_train)
rmse_train = np.sqrt(mse_train)
r_squared_train = r2_score(y_train,y_pred_train)
print('RMSE for Linear Regression Model with train dataset is: ',rmse_train)
print('R Squared for the Linear Regression Model with train dataset is : ',r_squared_train)

RMSE for Linear Regression Model with train dataset is:  0.06254944303968513
R Squared for the Linear Regression Model with train dataset is :  0.7958850329341665

In [17]:
#Model Evaluation for Test dataset
import numpy as np
from sklearn.metrics import mean_squared_error,r2_score
mse_test = mean_squared_error(y_test,y_pred_test)
rmse_test = np.sqrt(mse_test)
r_squared_test = r2_score(y_test,y_pred_test)
print('RMSE for Linear Regression Model with test dataset is: ',rmse_test)
print('R Squared for the Linear Regression Model with test dataset is : ',r_squared_test)

RMSE for Linear Regression Model with test dataset is:  0.06588497166041547
R Squared for the Linear Regression Model with test dataset is :  0.8161147779165655