In [2]:
import pandas as pd
df = pd.read_csv('Admission_Predict.csv')
df.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,324,107,4,4.0,4.5,8.87,1,0.76
2,3,316,104,3,3.0,3.5,8.00,1,0.72
3,4,322,110,3,3.5,2.5,8.67,1,0.80
4,5,314,103,2,2.0,3.0,8.21,0,0.65

In [3]:
y = df['Chance of Admit ']
X = df.drop(['Serial No.','Chance of Admit '], axis=1)

In [4]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size = 0.25,random_state = 42)

In [5]:
from sklearn.ensemble import RandomForestRegressor
#Call the model
rf = RandomForestRegressor()
#Fit the model
rf.fit(X_train,y_train)
#Predict from the model
y_pred_train = rf.predict(X_train)
y_pred_test = rf.predict(X_test)
print(y_pred_test)

[0.6367 0.7183 0.94   0.8266 0.581  0.9146 0.5877 0.4776 0.6777 0.8978
 0.7107 0.9382 0.5418 0.9014 0.7203 0.6874 0.704  0.4864 0.7201 0.9599
 0.6148 0.6816 0.7159 0.542  0.9424 0.814  0.7348 0.5762 0.7234 0.7936
 0.7981 0.9419 0.6298 0.4716 0.6976 0.6624 0.6917 0.6965 0.6203 0.9236
 0.7498 0.652  0.7726 0.9487 0.8702 0.8375 0.9614 0.6506 0.9307 0.8899
 0.9124 0.7056 0.7731 0.9434 0.5541 0.5811 0.6911 0.8473 0.5581 0.8736
 0.6368 0.627  0.7029 0.4592 0.6597 0.6354 0.5925 0.8571 0.8834 0.7733
 0.7141 0.8178 0.9202 0.8659 0.5316 0.7386 0.6877 0.5446 0.8436 0.7687
 0.7667 0.7418 0.9672 0.7235 0.5634 0.6969 0.7896 0.7538 0.933  0.678
 0.5682 0.8495 0.5173 0.7247 0.6394 0.6158 0.7287 0.76   0.5476 0.7343]

In [9]:
#Model Evaluation for Train dataset
import numpy as np
from sklearn.metrics import mean_squared_error,r2_score
mse_train = mean_squared_error(y_train,y_pred_train)
rmse_train = np.sqrt(mse_train)
r_squared_train = r2_score(y_train,y_pred_train)
print('RMSE for Random Forest Model with train dataset is: ',rmse_train)
print('R Squared for the Random Forest Model with train dataset is : ',r_squared_train)

RMSE for Random Forest Model with train dataset is:  0.025856186235921723
R Squared for the Random Forest Model with train dataset is :  0.9651215728747723

In [8]:
#Model Evaluation for Test dataset
import numpy as np
from sklearn.metrics import mean_squared_error,r2_score
mse_test = mean_squared_error(y_test,y_pred_test)
rmse_test = np.sqrt(mse_test)
r_squared_test = r2_score(y_test,y_pred_test)
print('RMSE for Random Forest Model with test dataset is: ',rmse_test)
print('R Squared for the Random Forest Model with test dataset is : ',r_squared_test)

RMSE for Random Forest Model with test dataset is:  0.06774014245630136
R Squared for the Random Forest Model with test dataset is :  0.8056134047891674