In [22]:
import pandas as pd
df1 = pd.read_csv('employee_data.csv')

In [23]:
df1.head()

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,quit,promotion_last_5years,department,salary
0,0.38,0.53,2,157,3,0,1,0,sales,low
1,0.80,0.86,5,262,6,0,1,0,sales,medium
2,0.11,0.88,7,272,4,0,1,0,sales,medium
3,0.72,0.87,5,223,5,0,1,0,sales,low
4,0.37,0.52,2,159,3,0,1,0,sales,low

In [3]:
#Encoding
#df1 = pd.get_dummies(df1)

In [24]:
df1

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,quit,promotion_last_5years,department,salary
0,0.38,0.53,2,157,3,0,1,0,sales,low
1,0.80,0.86,5,262,6,0,1,0,sales,medium
2,0.11,0.88,7,272,4,0,1,0,sales,medium
3,0.72,0.87,5,223,5,0,1,0,sales,low
4,0.37,0.52,2,159,3,0,1,0,sales,low
...,...,...,...,...,...,...,...,...,...,...
14994,0.40,0.57,2,151,3,0,1,0,support,low
14995,0.37,0.48,2,160,3,0,1,0,support,low
14996,0.37,0.53,2,143,3,0,1,0,support,low
14997,0.11,0.96,6,280,4,0,1,0,support,low
14998,0.37,0.52,2,158,3,0,1,0,support,low

In [25]:
X = df1.drop(['quit'],axis=1)
y = df1['quit']

In [26]:
df2 = pd.read_csv('employee_data_Production.csv')
df2 = pd.get_dummies(df2)
X_Prod = df2
X_Prod.head()

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,promotion_last_5years,department_sales,salary_low
0,0.38,0.53,2,157,3,0,0,1,1

In [27]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=1)

In [28]:
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(n_estimators = 500) #Default is 100 accuracy improves when we increase it to 500 or 1000
rf.fit(X_train,y_train)
#y_pred_train = rf.predict(X_train)
#y_pred_test = rf.predict(X_test)
y_pred_Prod = rf.predict(X_Prod)

ValueError: could not convert string to float: 'technical'

In [9]:
from sklearn.metrics import accuracy_score

In [10]:
accuracy_train = accuracy_score(y_train,y_pred_train)
accuracy_train

1.0

In [11]:
accuracy_test = accuracy_score(y_test,y_pred_test)
accuracy_test

0.9864444444444445

In [12]:
#Random Forest has slight edge over Decision tree
#Logistic Regression is a simple model

In [ ]:
#Other performance metrics of Classification

In [18]:
#Recall, Precision and F1-Score using Confusion matrix
from sklearn.metrics import confusion_matrix
tn,fp,fn,tp = confusion_matrix(y_test,y_pred_test).ravel()
Recall_test = tp/(tp+fn)
Precision_test = tp/(tp+fp)
F1score_test = (2*Recall_test*Precision_test)/(Recall_test+Precision_test)
print('Recall : ', Recall_test)
print('Precision : ', Precision_test)
print('F1score : ', F1score_test)

Recall :  0.9524253731343284
Precision :  0.9903006789524733
F1score :  0.9709938183547313

In [17]:
#Recall, Precision and F1-Score using in-built functions
from sklearn.metrics import recall_score,precision_score,f1_score
recall_test = recall_score(y_test,y_pred_test)
precision_test = precision_score(y_test,y_pred_test)
f1score_test = f1_score(y_test,y_pred_test)
print('recall : ', recall_test)
print('precision : ', precision_test)
print('f1score : ', f1score_test)

recall :  0.9524253731343284
precision :  0.9903006789524733
f1score :  0.9709938183547313