In [32]:
import pandas as pd
df = pd.read_csv('heart_fwg4y.csv')
df.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [33]:
df.shape

(303, 14)

In [34]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       303 non-null    int64
 1   sex       303 non-null    int64
 2   cp        303 non-null    int64
 3   trestbps  303 non-null    int64
 4   chol      303 non-null    int64
 5   fbs       303 non-null    int64
 6   restecg   303 non-null    int64
 7   thalach   303 non-null    int64
 8   exang     303 non-null    int64
 9   oldpeak   303 non-null    float64
 10  slope     303 non-null    int64
 11  ca        303 non-null    int64
 12  thal      303 non-null    int64
 13  target    303 non-null    int64
dtypes: float64(1), int64(13)
memory usage: 33.3 KB

In [35]:
df.isna().sum()

age         0
sex         0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalach     0
exang       0
oldpeak     0
slope       0
ca          0
thal        0
target      0
dtype: int64

In [36]:
df.describe()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
count,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000
mean,54.366337,0.683168,0.966997,131.623762,246.264026,0.148515,0.528053,149.646865,0.326733,1.039604,1.399340,0.729373,2.313531,0.544554
std,9.082101,0.466011,1.032052,17.538143,51.830751,0.356198,0.525860,22.905161,0.469794,1.161075,0.616226,1.022606,0.612277,0.498835
min,29.000000,0.000000,0.000000,94.000000,126.000000,0.000000,0.000000,71.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,47.500000,0.000000,0.000000,120.000000,211.000000,0.000000,0.000000,133.500000,0.000000,0.000000,1.000000,0.000000,2.000000,0.000000
50%,55.000000,1.000000,1.000000,130.000000,240.000000,0.000000,1.000000,153.000000,0.000000,0.800000,1.000000,0.000000,2.000000,1.000000
75%,61.000000,1.000000,2.000000,140.000000,274.500000,0.000000,1.000000,166.000000,1.000000,1.600000,2.000000,1.000000,3.000000,1.000000
max,77.000000,1.000000,3.000000,200.000000,564.000000,1.000000,2.000000,202.000000,1.000000,6.200000,2.000000,4.000000,3.000000,1.000000

In [37]:
X = df.drop(['target'],axis=1)
y = df['target']

In [38]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.25,random_state=3)

In [39]:
#Logistic Regression
from sklearn.linear_model import LogisticRegression
model_lr = LogisticRegression(max_iter=1000)
model_lr.fit(X_train,y_train)
y_pred_train = model_lr.predict(X_train)
y_pred_test = model_lr.predict(X_test)

In [40]:
#Accuracy, Recall, Precision, F1-Score for Logistic Regression Model
from sklearn.metrics import accuracy_score,recall_score,precision_score,f1_score
accuracy_test = accuracy_score(y_test,y_pred_test)
recall_test = recall_score(y_test,y_pred_test)
precision_test = precision_score(y_test,y_pred_test)
f1score_test = f1_score(y_test,y_pred_test)
print('Accuracy : ',accuracy_test)
print('Recall : ',recall_test)
print('Precision : ',precision_test)
print('F1-Score : ',f1score_test)

Accuracy :  0.881578947368421
Recall :  0.9574468085106383
Precision :  0.8653846153846154
F1-Score :  0.9090909090909091

In [41]:
#Decision Tree
from sklearn.tree import DecisionTreeClassifier
model_dt = DecisionTreeClassifier()
model_dt.fit(X_train,y_train)
y_pred_train = model_dt.predict(X_train)
y_pred_test = model_dt.predict(X_test)

In [42]:
#Accuracy, Recall, Precision, F1-Score for Decision Tree Model
from sklearn.metrics import accuracy_score,recall_score,precision_score,f1_score
accuracy_test = accuracy_score(y_test,y_pred_test)
recall_test = recall_score(y_test,y_pred_test)
precision_test = precision_score(y_test,y_pred_test)
f1score_test = f1_score(y_test,y_pred_test)
print('Accuracy : ',accuracy_test)
print('Recall : ',recall_test)
print('Precision : ',precision_test)
print('F1-Score : ',f1score_test)

Accuracy :  0.7631578947368421
Recall :  0.723404255319149
Precision :  0.8717948717948718
F1-Score :  0.7906976744186047

In [43]:
#Random Forest
from sklearn.ensemble import RandomForestClassifier
model_rf = RandomForestClassifier(n_estimators=100) #Default is 100 accuracy improves when we increase it further
model_rf.fit(X_train,y_train)
y_pred_train = model_rf.predict(X_train)
y_pred_test = model_rf.predict(X_test)

In [44]:
#Accuracy, Recall, Precision, F1-Score for Random Forest Model
from sklearn.metrics import accuracy_score,recall_score,precision_score,f1_score
accuracy_test = accuracy_score(y_test,y_pred_test)
recall_test = recall_score(y_test,y_pred_test)
precision_test = precision_score(y_test,y_pred_test)
f1score_test = f1_score(y_test,y_pred_test)
print('Accuracy : ',accuracy_test)
print('Recall : ',recall_test)
print('Precision : ',precision_test)
print('F1-Score : ',f1score_test)

Accuracy :  0.8421052631578947
Recall :  0.9148936170212766
Precision :  0.8431372549019608
F1-Score :  0.8775510204081632

In [45]:
#K-Nearest Neighbors
from sklearn.neighbors import KNeighborsClassifier
model_knn = KNeighborsClassifier(n_neighbors=34)
model_knn.fit(X_train,y_train)
y_pred_train = model_knn.predict(X_train)
y_pred_test = model_knn.predict(X_test)

In [46]:
#Accuracy, Recall, Precision, F1-Score for K-Nearest Neighbors Model
from sklearn.metrics import accuracy_score,recall_score,precision_score,f1_score
accuracy_test = accuracy_score(y_test,y_pred_test)
recall_test = recall_score(y_test,y_pred_test)
precision_test = precision_score(y_test,y_pred_test)
f1score_test = f1_score(y_test,y_pred_test)
print('Accuracy : ',accuracy_test)
print('Recall : ',recall_test)
print('Precision : ',precision_test)
print('F1-Score : ',f1score_test)

Accuracy :  0.6973684210526315
Recall :  0.7021276595744681
Precision :  0.7857142857142857
F1-Score :  0.7415730337078651

In [47]:
#SVM
from sklearn.svm import SVC
model_svm = SVC(kernel = 'linear')
model_svm.fit(X_train,y_train)
y_pred_train = model_svm.predict(X_train)
y_pred_test = model_svm.predict(X_test)

In [48]:
#Accuracy, Recall, Precision, F1-Score for SVM Model
from sklearn.metrics import accuracy_score,recall_score,precision_score,f1_score
accuracy_test = accuracy_score(y_test,y_pred_test)
recall_test = recall_score(y_test,y_pred_test)
precision_test = precision_score(y_test,y_pred_test)
f1score_test = f1_score(y_test,y_pred_test)
print('Accuracy : ',accuracy_test)
print('Recall : ',recall_test)
print('Precision : ',precision_test)
print('F1-Score : ',f1score_test)

Accuracy :  0.881578947368421
Recall :  0.9574468085106383
Precision :  0.8653846153846154
F1-Score :  0.9090909090909091

In [49]:
#Naive Bayes
from sklearn.naive_bayes import GaussianNB  
model_nb = GaussianNB()  
model_nb.fit(X_train, y_train)
y_pred_train = model_nb.predict(X_train)
y_pred_test = model_nb.predict(X_test)

In [50]:
#Accuracy, Recall, Precision, F1-Score for Naive Bayes Model
from sklearn.metrics import accuracy_score,recall_score,precision_score,f1_score
accuracy_test = accuracy_score(y_test,y_pred_test)
recall_test = recall_score(y_test,y_pred_test)
precision_test = precision_score(y_test,y_pred_test)
f1score_test = f1_score(y_test,y_pred_test)
print('Accuracy : ',accuracy_test)
print('Recall : ',recall_test)
print('Precision : ',precision_test)
print('F1-Score : ',f1score_test)

Accuracy :  0.881578947368421
Recall :  0.9574468085106383
Precision :  0.8653846153846154
F1-Score :  0.9090909090909091

In [51]:
#XGBoost
from sklearn.ensemble import GradientBoostingClassifier
model_xgboost = GradientBoostingClassifier()
model_xgboost.fit(X_train, y_train)
y_pred_train = model_xgboost.predict(X_train)
y_pred_test = model_xgboost.predict(X_test)

In [52]:
#Accuracy, Recall, Precision, F1-Score for XGBoost
from sklearn.metrics import accuracy_score,recall_score,precision_score,f1_score
accuracy_test = accuracy_score(y_test,y_pred_test)
recall_test = recall_score(y_test,y_pred_test)
precision_test = precision_score(y_test,y_pred_test)
f1score_test = f1_score(y_test,y_pred_test)
print('Accuracy : ',accuracy_test)
print('Recall : ',recall_test)
print('Precision : ',precision_test)
print('F1-Score : ',f1score_test)

Accuracy :  0.8026315789473685
Recall :  0.8297872340425532
Precision :  0.8478260869565217
F1-Score :  0.8387096774193549